/* primary color: #ff651c */
/* background-color-content: #fff */
/* background-color-body: #eee */
/* text-color-normal: #888 */
/* text-color: #000 */
/* scrollbar: #888 */

// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

// VARIABLES CSS
:root {
    // FONTS
    --font-family: 'Lato',sans-serif;
    --font-size-1: 2rem;
    --font-size-2: 1.5rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1rem;
    --font-size-5: .938rem;
    --font-size-6: .875rem;
    --font-size-7: .812rem;
    --font-weight-bold: 700;

    // COLORS
    --primary-color: #ff651c;
    --background-color-primary: #eee;
    --background-color-secondary: #fff;
    --text-color-dark: #000;
    --text-color-medium: #888;
    --text-color-light: #fff;
    --shadow-color: #888;
    // --shadow-color-secondary: rgb

    @media screen and (min-width: 769px) {
        --font-size-1: 2.5rem;
        --font-size-2: 2rem;
        --font-size-3: 1.5rem;
        --font-size-4: 1.25rem;
        --font-size-5: 1rem;
        --font-size-6: .938rem;
        --font-size-7: .875rem;
    }

    @media screen and (min-width: 1024px) {
        --font-size-1: 3.5rem;
        --font-size-2: 2.5rem;
        --font-size-3: 2rem;
        --font-size-4: 1.5rem;
        --font-size-5: 1.25rem;
        --font-size-6: 1rem;
        --font-size-7: .938rem;
    }
}

// GENERAL STYLES & RESETS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color-primary);
    color: var(--text-color-medium);
    height: 100vh;
    overflow-y: hidden;
}

body,
button,
input,
textarea {
    font-family: var(--font-family);
    font-size: var(--font-size-5);
}

h1,
h2,
h3,
h4 {
    color: var(--text-color-dark);
    font-weight: var(--font-weight-bold);
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input,
textarea {
    border: none;
    outline: none;
}

// COMMON CLASSES
.container {

}

.section {
    width: 0;
    height: 0;
    left: 0;
    padding: 0;
    z-index: 1;
    border-radius: 1rem;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0 0 20px var(--shadow-color);
    transition: .5s;

    &--active {
        padding: 1rem;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    &__title {
        margin-bottom: 1rem;
        font-size: var(--font-size-1);
        font-weight: var(--font-weight-bold);
        color: var(--text-color-dark);
        text-transform: capitalize;
        
        &--center {
            text-align: center;
        }

        &--primary {
            margin: 0 .3rem;
            color: var(--primary-color);
        }
    }

    &__subtitle {
        margin-bottom: .1rem;
        font-size: var(--font-size-6);
        font-weight: normal;
        color: var(--text-color-medium);
        text-transform: capitalize;

        &--center {
            text-align: center;
        }
    }

    @media screen and (min-width: 769px) {
        padding: 30px;
    }
}

.button {
    padding: .7rem .7rem;
    font-size: var(--font-size-5);
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text-color-light);
    letter-spacing: .05rem;
    border-radius: .3rem;
    transition: .5s;

    &:hover {
        background-color: var(--background-color-secondary);
        color: var(--text-color-dark);
        box-shadow: 0 0 20px var(--shadow-color);
    }
}

// HEADER
.header {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 70px;

    @media screen and (min-width: 769px) {
        right: 0;
        width: 50px;
        height: 100vh;
        padding: 70px 0;
    }
    
}

.nav {
    height: 100%;
    padding: 0 2rem;
    background-color: var(--background-color-secondary);

    &__menu {
        height: 100%;
    }

    &__list {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &-item {
            font-size: var(--font-size-2);

            @media screen and (min-width: 769px) {
                font-size: var(--font-size-4);
            }
        }

        @media screen and (min-width: 769px) {
            flex-direction: column;
        }
    }

    &__link {
        color: var(--text-color-medium);

        &--active {
            color: var(--primary-color);
        }
    }
}

// MAIN
.main {
    position: absolute;
    padding: 1rem;
    width: 100vw;
    height: calc(100vh - 70px);

    @media screen and (min-width: 769px) {
        padding: 3rem;
        width: calc(100vw - 50px);
        height: 100vh;
    }
    
}

// HOME
.home {

    &__container {
        display: grid;
        row-gap: .8rem;

        @media screen and (min-width: 769px) {
            grid-template-columns: 5fr 7fr;
        }
    }

    &__img {
        border-radius: .5rem;
        box-shadow: 0 0 20px var(--shadow-color);
    }

    &__data {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title-container {
        margin-bottom: 1.5rem;
        height: calc(var(--font-size-2) + 1.5rem);
        overflow: hidden;
    }

    &__title-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: scrollTitle 3s 2s ease-in-out infinite alternate;
    }

    &__title {
        font-size: var(--font-size-2);
        line-height: calc(var(--font-size-2) + 1.5rem);
        color: var(--primary-color);
    }

    &__social {
        display: flex;
        align-items: center;
        column-gap: 1.4rem;
        margin-bottom: 1.3rem;

        &-link {
            font-size: var(--font-size-2);
            color: var(--text-color-dark);
            transition: .4s;

            &:hover {
                color: var(--primary-color);
            }
        }

        &-icon {
            
        }
    }

    &__description {
        margin-bottom: 1rem;
        font-size: var(--font-size-6);
        line-height: 170%;
        text-align: center;
    }

    &__button-group {
        display: flex;
        column-gap: 1rem;
    }
}

// ABOUT
.about {

    &__container {
        display: grid;
        row-gap: 2rem;
        margin-bottom: 3rem;
    }

    &__img {
        border-radius: .5rem;
        box-shadow: 0 0 20px var(--shadow-color);
    }

    &__data {

    }

    &__subtitle {
        margin-bottom: 1rem;
        font-size: var(--font-size-3);
        text-transform: capitalize;

        &--primary {
            color: var(--primary-color);
        }
    }

    &__title {
        margin-bottom: 1rem;
        font-size: var(--font-size-2);
        text-transform: capitalize;

        &--primary {
            color: var(--primary-color);
        }
    }

    &__description {
        margin-bottom: 1rem;
        font-size: var(--font-size-6);
        line-height: 170%;
    }

    &-information {

        &__container {
            display: grid;
            row-gap: 1rem;
            margin-bottom: 1rem;
        }

        &__content {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
        }

        &__box {

        }

        &__title {

        }

        &__data {
            color: var(--text-color-dark);
        }
    }

    &__button {
        margin-bottom: 1rem;
    }

    &-social {

        &__list {
            display: flex;
            column-gap: 1rem;

            &-item {

            }
        }

        &__link {
            font-size: var(--font-size-2);
            color: var(--text-color-dark);
            transition: .4s;

            &:hover {
                color: var(--primary-color);
            }
        }
    }
}

// RESUME
.resume {

    &__container {
        display: grid;
        row-gap: 1rem;
        margin-bottom: 3rem;
    }

    &__content {

    }

    &__title {
        margin-bottom: 1rem;
        font-size: var(--font-size-2);

        &--center {
            text-align: center;
        }
    }

    &__group {
        display: grid;
        row-gap: 1rem;
    }

    &__card {
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 0 0 10px var(--shadow-color);
        border-left: 2px solid var(--primary-color);
        
        &-tag {

        }

        &-title {
            margin-bottom: 1rem;
            font-size: var(--font-size-3);
            color: var(--primary-color);
        }

        &-subtitle {
            margin-bottom: 1rem;
            font-size: var(--font-size-6);
            color: var(--text-color-dark);
        }

        &-description {

        }
    }
}

// SKILLS
.skills {

    &__container {
        display: grid;
        row-gap: 2rem;
        margin-bottom: 3rem;
    }

    &__content {

    }

    &__title {
        margin-bottom: 1rem;
        font-size: var(--font-size-2);
        text-transform: capitalize;

        &--center {
            text-align: center;
        }

        &--primary {
            color: var(--primary-color);
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        padding: 1.5rem 1rem;
        border-radius: .5rem;
        box-shadow: 0 0 10px var(--shadow-color);
    }

    &__data {

    }

    &__subtitle {
        margin-bottom: .8rem;
        font-size: var(--font-size-4);
        font-weight: normal;
    }

    &__progress {
        width: 100%;
        height: .2rem;
        background-color: var(--background-color-primary);

        &-bar {
            position: relative;
            width: 60%;
            height: 100%;
            background-color: var(--primary-color);
        }

        &-label {
            position: absolute;
            right: 0;
            bottom: .5rem;
            font-size: var(--font-size-7);
            color: var(--primary-color);
        }
    }
}

// SERVICES
.services {

    &__description {
        margin-bottom: 1rem;
        text-align: center;
        font-size: var(--font-size-6);
        line-height: 160%;
    }

    &__container {
        display: grid;
        row-gap: 1.5rem;
        margin-bottom: 3rem;
    }

    &__card {
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: .5rem;
        box-shadow: 0 0 10px var(--shadow-color);

        &-icon {
            margin-bottom: 1.5rem;
            font-size: calc(var(--font-size-1) + .5rem);
            color: var(--text-color-dark);
            animation: rotateIcon 4s linear infinite;
        }

        &-title {
            margin-bottom: 1rem;
            font-size: var(--font-size-3);
            text-transform: capitalize;

            &--primary {
                color: var(--primary-color);
            }
        }

        &-description {
            font-size: var(--font-size-6);
            line-height: 160%;
        }
    }
}

// TESTIMONIAL
.testimonial {

    &__container {
        display: grid;
        row-gap: 1rem;
        margin-bottom: 3rem;
        padding-top: 2rem;
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.3rem;
        border-radius: .5rem;
        border: 1px solid var(--primary-color);
        box-shadow: 0 0 10px var(--shadow-color);

        &-icon {
            position: absolute;
            left: 1.5rem;
            top: calc(0px - var(--font-size-1));
            font-size: calc(var(--font-size-1) * 2);
            color: var(--primary-color);
        }

        &-img {
            margin-bottom: 1rem;
            width: 100%;
            max-width: 110px;
            max-height: 110px;
            box-shadow: 0 0 10px var(--shadow-color);
        }

        &-description {
            text-align: center;
            font-size: var(--font-size-6);
            line-height: 160%;
        }

        &-rating {

        }
    }
}

// FUN FACT
.facts {

}


// PORTFOLIO
.portfolio {

    &__filters {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: .5rem;
        margin-bottom: 1.5rem;
    }

    &__container {

    }

    &__card {

        &-img {

        }

        &-overlay {

        }

        &-title {

        }
    }
}


// BLOG
.blog {

    &__container {
        display: grid;
        row-gap: 2rem;
    }

    &__card {
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 0 0 10px var(--shadow-color);

        &:hover .blog__card-title {
            color: var(--primary-color);
        }

        &-cover {
            margin: -.5rem -.5rem 1.5rem;
            aspect-ratio: 1.7/1;
            border-radius: .5rem;
            box-shadow: 0 0 10px var(--shadow-color);
            overflow: hidden;
        }

        &-img {
            transition: .4s;

            &:hover {
                transform: scale(1.1);
            }
        }

        &-data {

        }

        &-date {
            margin-bottom: 1rem;
            color: var(--primary-color);
        }

        &-title {
            margin-bottom: 1rem;
            font-size: var(--font-size-3);
            text-transform: capitalize;
        }

        &-description {
            font-size: var(--font-size-6);
            line-height: 160%;
        }
    }
}

// CONTACT
.contact {

    &__container {
        display: grid;
        row-gap: 1.3rem;
    }

    &__content {

    }

    &__title {
        margin-bottom: .8rem;
        font-size: var(--font-size-3);
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__inputs {
        width: 100%;
        display: grid;
        row-gap: 1.4rem;
        margin-bottom: 1.5rem;
    }

    &__input-group {
        display: grid;
        row-gap: 1.4rem;
    }

    &__input {
        padding: .7rem;
        border-radius: .3rem;
        box-shadow: 0 0 10px var(--shadow-color);

        &--textarea {
            height: 10rem;
        }
    }

    &__data {

    }

    &__description {
        margin-bottom: 1rem;
    }

    &__details {
        display: grid;
        row-gap: 1rem;
        margin-bottom: 1rem;
    }

    &__information {
        display: grid;
        grid-template-columns: 60px 1fr;

        &-icon {
            align-self: center;
            font-size: var(--font-size-2);
            color: var(--primary-color);
        }

        &-box {

        }

        &-title {
            margin-bottom: .3rem;
            font-size: var(--font-size-5);
            font-weight: var(--font-weight-bold);
            color: var(--text-color-dark);
        }

        &-description {
            font-size: var(--font-size-5);
            color: var(--primary-color);
        }
    }

    &__map {
        margin-bottom: 1rem;

        &-iframe {
            width: 100%;
        }
    }

}

// FOOTER
.footer {
    margin: 2rem 0 1rem;

    &__copy {
        text-align: center;
    }
}

// SCROLLBAR
::-webkit-scrollbar {
    width: .5rem;
    background-color: transparent;
    
    &-thumb {
        border-radius: .3rem;
        background-color: var(--text-color-medium);
        border: .1rem solid transparent;
        background-clip: padding-box;
    }

    &-track {
        // border-radius: .5rem;
        background-color: transparent;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


// ANIMATIONS
@keyframes scrollTitle {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(calc(0px - var(--font-size-2) - 1.5rem));
    }
    100% {
        transform: translateY(calc(2 * (0px - var(--font-size-2) - 1.5rem)));
    }
}

@keyframes rotateIcon {
    0% {
        // transform: scale(1);
        transform: rotateY(0) scale(1);
    }
    50% {
        // transform: scale(1.2);
        transform: rotateY(180deg) scale(1.1);
    }
    100% {
        // transform: scale(1);
        transform: rotateY(360deg) scale(1);
    }
}