// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

// VARIABLES CSS
:root {
    // FONTS
    --font-family: 'Lato',sans-serif;
    --font-size-1: 2rem;
    --font-size-2: 1.5rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1rem;
    --font-size-5: .938rem;
    --font-size-6: .875rem;
    --font-size-7: .812rem;
    --font-weight-bold: 700;

    // COLORS
    --primary-color: rgb(255, 101, 28);
    --background-color-primary: rgb(238, 238, 238);
    --background-color-secondary: rgb(255, 255, 255);
    --text-color-dark: rgb(0, 0, 0);
    --text-color-medium: rgb(136, 136, 136);
    --text-color-light: rgb(255, 255, 255);
    --shadow-color: rgb(174, 174, 174);

    @media screen and (min-width: 768px) {
        --font-size-1: 2.5rem;
        --font-size-2: 2rem;
        --font-size-3: 1.5rem;
        --font-size-4: 1.25rem;
        --font-size-5: 1rem;
        --font-size-6: .938rem;
        --font-size-7: .875rem;
    }

    @media screen and (min-width: 1024px) {
        --font-size-1: 3.5rem;
    }
}

// GENERAL STYLES & RESETS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color-primary);
    color: var(--text-color-medium);
    height: 100vh;
    overflow: hidden;
}

body,
button,
input,
textarea {
    font-family: var(--font-family);
    font-size: var(--font-size-5);
}

h1,
h2,
h3,
h4 {
    color: var(--text-color-dark);
    font-weight: var(--font-weight-bold);
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input,
textarea {
    border: none;
    outline: none;
}

// COMMON CLASSES
.container {

}

.section {
    width: 0;
    height: 0;
    left: 0;
    padding: 0;
    z-index: 0;
    border-radius: 1rem;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 0 20px var(--shadow-color);
    transition: .5s;

    &--active {
        padding: 1rem;
        width: 100%;
        height: 100%;
        z-index: 10;

        @media screen and (min-width: 768px) {
            padding: 2rem;
        }
    }

    &__title {
        position: relative;
        margin-bottom: 3.5rem;
        font-size: var(--font-size-1);
        font-weight: var(--font-weight-bold);
        color: var(--text-color-dark);
        text-transform: capitalize;

        &::before {
            content: '';
            position: absolute;
            bottom: -1rem;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 100px;
            height: 3.5px;
            background-color: var(--primary-color);
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -1rem;
            left: -88px;
            right: 0;
            margin: 0 auto;
            width: 5px;
            height: 4px;
            background-color: var(--primary-color);
            border-left: 4px solid var(--background-color-secondary);
            border-right: 4px solid var(--background-color-secondary);
            animation: animateTitleLine 5s linear infinite;
        }
         
        &--center {
            text-align: center;
        }

        &--primary {
            margin: 0 .3rem;
            color: var(--primary-color);
        }
    }

    &__subtitle {
        margin-bottom: .8rem;
        font-size: var(--font-size-6);
        font-weight: normal;
        color: var(--text-color-medium);
        text-transform: capitalize;

        &--center {
            text-align: center;
        }
    }
}

.button {
    padding: .7rem .7rem;
    font-size: var(--font-size-5);
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text-color-light);
    letter-spacing: .05rem;
    border-radius: .3rem;
    transition: .5s;

    &:hover {
        background-color: var(--background-color-secondary);
        color: var(--text-color-dark);
        box-shadow: 0 0 15px var(--shadow-color);
        transform: rotate(10deg);
    }

    &--active {
        background-color: var(--background-color-secondary);
        color: var(--text-color-dark);
        box-shadow: 0 0 10px var(--shadow-color);
        transform: rotate(10deg);
    }
}

// BACKGROUND
.body__background {
    position: absolute;
    bottom: 30vh;
    right: 50vw;
    width: 70vh;
    height: 90vh;
    background-color: var(--primary-color);
    box-shadow: 0 0 20px var(--shadow-color);
    transform: rotate(20deg);
    z-index: -1;

    @media screen and (min-width: 769px) {
        bottom: 40vh;
        left: 12vw;
        width: 120vh;
        height: 120vh;
        transform: rotate(-45deg) translate(-50%,-50%);
    }
}

// HEADER
.header {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 70px;

    @media screen and (min-width: 768px) {
        right: 0;
        width: 60px;
        height: 100vh;
        padding: 70px 0;
    }   
}

.nav {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    background-color: var(--background-color-secondary);

    &__menu {
        height: 100%;

        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
        }
    }

    &__list {
        height: 100%;
        display: flex;
        justify-content: center;
        gap: .8rem;
        align-items: center;

        &-item {
            font-size: var(--font-size-2);

            @media screen and (min-width: 768px) {
                font-size: var(--font-size-3);
            }
        }

        @media screen and (min-width: 768px) {
            width: 100%;
            max-height: 400px;
            flex-direction: column;
        }
    }

    &__link {
        position: relative;
        color: var(--text-color-dark);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        aspect-ratio: 1/1;
        background-color: var(--background-color-secondary);
        border-radius: 50%;
        z-index: 1;
        transition: .4s;

        &:hover .nav__link-tooltip {
            @media screen and (min-width: 768px) {
                visibility: visible;
            }
        }

        &--active {
            border: 5px solid var(--background-color-primary);
            color: var(--primary-color);

            @media screen and (min-width: 768px) {
                transform: translateX(-50%);
            }
        }

        &-tooltip {
            visibility: hidden;
            position: absolute;
            right: 119%;
            padding: .5rem 1rem;
            font-size: var(--font-size-5);
            background-color: var(--primary-color);
            color: var(--text-color-light);
            border-radius: .5rem;
            z-index: 10;

            &::after {
                content: ' ';
                position: absolute;
                top: 20%;
                left: 100%;
                border: 10px;
                border-style: solid;
                border-color: transparent transparent transparent var(--primary-color);
            }
        }

        @media screen and (min-width: 482px) {
            width: 60px;
        }
    }

    @media screen and (min-width: 768px) {
        padding: 0;
        border-radius: .5rem 0 0 .5rem;
    }
}

// MAIN
.main {
    position: absolute;
    padding: 1rem;
    width: 100vw;
    height: calc(100vh - 70px);

    @media screen and (min-width: 768px) {
        padding: 3rem;
        width: calc(100vw - 60px);
        height: 100vh;
    }
}

// HOME
.home {

    &__container {
        display: grid;
        row-gap: 1.5rem;

        @media screen and (min-width: 768px) {
            grid-template-columns: 5fr 7fr;
            column-gap: 2rem;
            align-items: center;
        }
    }

    &__img {
        border-radius: .5rem;
        box-shadow: 0 0 20px var(--shadow-color);
    }

    &__data {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title-container {
        margin-bottom: 1.5rem;
        height: calc(var(--font-size-2) + 1.5rem);
        overflow: hidden;
    }

    &__title-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: scrollTitle 3s 2s ease-in-out infinite alternate;
    }

    &__title {
        font-size: var(--font-size-2);
        line-height: calc(var(--font-size-2) + 1.5rem);
        color: var(--primary-color);
    }

    &__social {
        display: flex;
        align-items: center;
        column-gap: 1.4rem;
        margin-bottom: 1.3rem;

        &-link {
            font-size: var(--font-size-2);
            color: var(--text-color-dark);
            transition: .4s;

            &:hover {
                transform: rotate(360deg);
                color: var(--primary-color);
            }
        }

        &-icon {
            
        }
    }

    &__description {
        margin-bottom: 2rem;
        font-size: var(--font-size-6);
        line-height: 170%;
        text-align: center;
    }

    &__button-group {
        display: flex;
        column-gap: 1rem;
    }

    @media screen and (min-width: 769px) {
        display: grid;
        align-items: center;
    }
}

// ABOUT
.about {

    &__container {
        display: grid;
        row-gap: 2rem;
        margin-bottom: 3rem;

        @media screen and (min-width: 992px) {
            grid-template-columns: 1fr 2fr;
            column-gap: 1.5rem;
        }
    }

    &__img {
        border-radius: .5rem;
        box-shadow: 0 0 30px var(--shadow-color);
    }

    &__data {
        @media screen and (min-width: 768px) {
            padding-top: 1rem;
        }
    }

    &__subtitle {
        margin-bottom: 1rem;
        font-size: var(--font-size-3);
        text-transform: capitalize;

        &--primary {
            color: var(--primary-color);
        }
    }

    &__title {
        margin-bottom: 1rem;
        font-size: var(--font-size-2);
        text-transform: capitalize;

        &--primary {
            color: var(--primary-color);
        }
    }

    &__description {
        margin-bottom: 1rem;
        font-size: var(--font-size-6);
        line-height: 170%;
    }

    &-information {

        &__container {
            display: grid;
            row-gap: 1rem;
            margin-bottom: 1.5rem;

            @media screen and (min-width: 992px) {
                grid-template-columns: repeat(2,1fr);
                column-gap: 1.5rem;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
        }

        &__box {

        }

        &__title {

        }

        &__data {
            color: var(--text-color-dark);
        }
    }

    &__button {
        display: inline-flex;
        margin-bottom: 1rem;
    }

    &-social {

        &__list {
            display: flex;
            column-gap: 1rem;

            &-item {
                font-size: var(--font-size-2);
                transition: .4s;

                &:hover {
                    transform: rotate(360deg);
                }
            }
        }

        &__link {
            color: var(--text-color-dark);
            transition: .4s;

            &:hover {
                color: var(--primary-color);
            }
        }
    }
}

// RESUME
.resume {

    &__container {
        display: grid;
        row-gap: 1rem;
        margin-bottom: 3rem;

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2,1fr);
            column-gap: 1.5rem;
        }
    }

    &__content {

    }

    &__title {
        margin-bottom: 1rem;
        font-size: var(--font-size-2);

        &--center {
            text-align: center;
        }
    }

    &__group {
        display: grid;
        row-gap: 1rem;

        @media screen and (min-width: 578px) {
            row-gap: 1.5rem;
        }
    }

    &__card {
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 0 0 10px var(--shadow-color);
        border-left: 3px solid var(--primary-color);
        
        &-tag {

        }

        &-title {
            margin-bottom: 1rem;
            font-size: var(--font-size-3);
            color: var(--primary-color);
        }

        &-subtitle {
            margin-bottom: 1rem;
            font-size: var(--font-size-6);
            color: var(--text-color-dark);
        }

        &-description {

        }
    }
}

// SKILLS
.skills {

    &__container {
        display: grid;
        row-gap: 2rem;
        margin-bottom: 3rem;

        @media screen and (min-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2rem;
        }
    }

    &__content {

    }

    &__title {
        margin-bottom: 1rem;
        font-size: var(--font-size-2);
        text-transform: capitalize;

        &--center {
            text-align: center;
        }

        &--primary {
            color: var(--primary-color);
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        padding: 1.5rem 1rem;
        border-radius: .5rem;
        box-shadow: 0 0 10px var(--shadow-color);
    }

    &__data {

    }

    &__subtitle {
        margin-bottom: .8rem;
        font-size: var(--font-size-4);
        font-weight: normal;
    }

    &__progress {
        width: 100%;
        height: .2rem;
        background-color: var(--background-color-primary);

        &-bar {
            position: relative;
            width: 0%;
            height: 100%;
            background-color: var(--primary-color);
        }

        &-label {
            position: absolute;
            right: 0;
            bottom: .5rem;
            font-size: var(--font-size-7);
            color: var(--primary-color);
        }
    }
}

// SERVICES
.services {

    &__description {
        margin: 0 auto 2rem;
        max-width: 800px;
        text-align: center;
        font-size: var(--font-size-6);
        line-height: 160%;
    }

    &__container {
        display: grid;
        row-gap: 1.5rem;
        margin-bottom: 3rem;

        @media screen and (min-width: 578px) {
            grid-template-columns: repeat(2,1fr);
            gap: 1.5rem;
        }

        @media screen and (min-width: 992px) {
            grid-template-columns: repeat(4,1fr);
        }
    }

    &__card {
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: .5rem;
        box-shadow: 0 0 10px var(--shadow-color);

        &-icon {
            margin-bottom: 1.5rem;
            font-size: 2.5rem;
            color: var(--text-color-dark);
            animation: rotateIcon 4s linear infinite;
        }

        &-title {
            margin-bottom: 1rem;
            font-size: var(--font-size-3);
            text-transform: capitalize;

            &--primary {
                color: var(--primary-color);
            }
        }

        &-description {
            font-size: var(--font-size-6);
            line-height: 160%;
        }
    }
}

// TESTIMONIAL
.testimonial {

    &__container {
        display: grid;
        row-gap: 1rem;
        margin-bottom: 3rem;
        padding-top: 1.1rem;
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.3rem;
        border-radius: .5rem;
        border: 1px solid var(--primary-color);
        box-shadow: 0 0 10px var(--shadow-color);

        &-icon {
            position: absolute;
            left: 1.5rem;
            top: calc(0px - 3rem);
            font-size: 5rem;
            color: var(--primary-color);
        }

        &-img {
            margin-bottom: 1rem;
            width: 100%;
            max-width: 110px;
            max-height: 110px;
            box-shadow: 0 0 10px var(--shadow-color);
        }

        &-description {
            margin-bottom: 1rem;
            text-align: center;
            font-size: var(--font-size-6);
            line-height: 160%;
        }

        &-rating {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: .7rem;
            font-size: var(--font-size-7);
            color: var(--primary-color);
        }
    }
}

.swiper-testimonial {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

// FUN FACT
.facts {

    &__container {
        display: grid;
        row-gap: 1rem;

        @media screen and (min-width: 578px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }

        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
        }
    }

    &__card {
        padding: 1.5rem 1.1rem;
        box-shadow: 0 0 10px var(--shadow-color);
        border: 1px solid var(--primary-color);
        border-radius: .5rem;

        &-title {
            margin-bottom: .5rem;
            font-size: calc(var(--font-size-3) *2);//3rem
            line-height: calc(var(--font-size-3) *2);//3rem
            color: var(--primary-color);
        }

        &-subtitle {
            font-size: var(--font-size-4);
            color: var(--text-color-medium);
        }
    }
}

// PORTFOLIO
.portfolio {

    &__filters {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: .5rem;
        margin-bottom: 1.5rem;

        &-item {
            
        }
    }

    &__container {
        display: grid;
        row-gap: 1rem;

        @media screen and (min-width: 578px) {
            grid-template-columns: repeat(2,1fr);
            gap: 1rem;
        }

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(3,1fr);
        }

        @media screen and (min-width: 992px) {
            grid-template-columns: repeat(4,1fr);
        }
    }

    &__card {
        position: relative;
        width: 100%;
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: 0 0 20px var(--shadow-color);

        &-img {
            height: 100%;
        }

        &-overlay {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1.5rem;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.73);
            transition: .5s;
        }

        &-title {
            font-size: var(--font-size-5);
            color: var(--text-color-light);
        }

        &-button {
            display: flex;
            padding: .5rem 1rem;
            border-radius: 1rem;
            background-color: var(--primary-color);
            color: var(--text-color-light);
            font-size: var(--font-size-6);

            &:hover {
                background-color: #000;
            }
        }

        &:hover .portfolio__card-overlay {
            opacity: 1;
        }
    }

    &__gallery {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(32, 32, 32, 0.87);
        color: var(--text-color-light);
        z-index: 3;
        transition: .4s;

        &--show {
            opacity: 1;
            visibility: visible;
        }

        &-header {
            width: 100%;
            height: 3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-page {
            height: 100%;
            padding: 0 1rem;
            display: flex;
            align-items: center;
            font-size: var(--font-size-6);
            color:rgb(235, 235, 235);
        }

        &-close {
            width: 3rem;
            height: 3rem;
            background-color: rgba(29, 29, 29, 0.896);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: var(--font-size-4);
            color: rgb(235, 235, 235);
            border: 2px solid transparent;
            cursor: pointer;
            transition: .4s;
             
            &:hover {
                color: var(--text-color-light);
                border: 2px solid var(--primary-color);
            }
        }

        &-content {
            position: relative;
            width: 100%;
            height: calc(100vh - 7rem);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-image {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            border-radius: .5rem;
            border: 1px solid var(--primary-color);
        }

        &-prev,&-next {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 2.5rem;
            height: 2.5rem;
            background-color: rgba(29, 29, 29, 0.896);
            border: 2px solid transparent;
            color:rgb(235, 235, 235);
            font-size: var(--font-size-6);
            cursor: pointer;
            transition: .4s;

            &:hover {
                color: var(--text-color-light);
                border: 2px solid var(--primary-color);
            }
        }

        &-prev {
            left: 1%;
        }

        &-next {
            right: 1%;
        }

        &-footer {
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-title {
            font-size: var(--font-size-6);
            color: var(--text-color-light);
        }
    }
}

// BLOG
.blog {

    &__container {
        display: grid;
        row-gap: 2rem;

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }

        @media screen and (min-width: 992px) {
            grid-template-columns: repeat(3,1fr);
        }
    }

    &__card {
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 0 0 10px var(--shadow-color);

        &:hover .blog__card-title {
            color: var(--primary-color);
        }

        &-cover {
            margin: -.5rem -.5rem 1.5rem;
            aspect-ratio: 1.7/1;
            border-radius: .5rem;
            box-shadow: 0 0 10px var(--shadow-color);
            overflow: hidden;
        }

        &-img {
            transition: .4s;

            &:hover {
                transform: scale(1.1);
            }
        }

        &-data {

        }

        &-date {
            margin-bottom: 1rem;
            color: var(--primary-color);
        }

        &-title {
            margin-bottom: 1rem;
            font-size: var(--font-size-3);
            text-transform: capitalize;
        }

        &-description {
            font-size: var(--font-size-6);
            line-height: 160%;
        }

        @media screen and (min-width: 768px) {
            padding: 1.5rem;
        }
    }
}

// CONTACT
.contact {

    &__container {
        display: grid;
        row-gap: 1.3rem;
        margin-bottom: 1rem;

        @media screen and (min-width: 992px) {
            grid-template-columns: 7fr 5fr;
            column-gap: 2rem;
            margin-bottom: 2rem;
        }
    }

    &__content {

    }

    &__title {
        margin-bottom: 1.3rem;
        font-size: var(--font-size-3);
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__inputs {
        width: 100%;
        display: grid;
        row-gap: 1.4rem;
        margin-bottom: 1.5rem;
    }

    &__input-group {
        display: grid;
        row-gap: 1.4rem;

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2,1fr);
            column-gap: 1.4rem;
        }
    }

    &__input {
        padding: .7rem;
        border-radius: .3rem;
        box-shadow: 0 0 10px var(--shadow-color);

        &--textarea {
            height: 10rem;
        }
    }

    &__data {

    }

    &__description {
        margin-bottom: 1rem;
    }

    &__details {
        display: grid;
        row-gap: 1rem;
        margin-bottom: 1rem;
    }

    &__information {
        display: grid;
        grid-template-columns: 60px 1fr;

        &-icon {
            align-self: center;
            font-size: var(--font-size-2);
            color: var(--primary-color);
        }

        &-box {

        }

        &-title {
            margin-bottom: .3rem;
            font-size: var(--font-size-5);
            font-weight: var(--font-weight-bold);
            color: var(--text-color-dark);
        }

        &-description {
            font-size: var(--font-size-5);
            color: var(--primary-color);
        }
    }

    &__map {
        margin-bottom: 1rem;

        &-iframe {
            width: 100%;
        }
    }

}

// FOOTER
.footer {
    margin: 2rem 0 1rem;

    &__copy {
        text-align: center;
    }
}

// LOADER
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 200;
    opacity: 1;
    visibility: visible;
    transition: .8s;

    &--hidden {
        opacity: 0;
        visibility: hidden;
    }

    &__container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        font-size: var(--font-size-1);
        color: var(--primary-color);
        letter-spacing: .5rem;

        &-item {

            @for $i from 0 to 6 {
                &:nth-child(#{$i+1}) {
                    filter: blur(0px);
                    animation: blurText .6s (#{$i/10+s}) infinite linear alternate;
                }
            }
        }
    }
}

// SCROLLBAR
::-webkit-scrollbar {
    width: .5rem;
    background-color: transparent;
    
    &-thumb {
        border-radius: .3rem;
        background-color: var(--text-color-medium);
        border: .1rem solid transparent;
        background-clip: padding-box;
    }

    &-track {
        // border-radius: .5rem;
        background-color: transparent;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

// ANIMATIONS
@keyframes scrollTitle {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(calc(0px - var(--font-size-2) - 1.5rem));
    }
    100% {
        transform: translateY(calc(2 * (0px - var(--font-size-2) - 1.5rem)));
    }
}

@keyframes rotateIcon {
    0% {
        transform: rotateY(0) scale(1);
    }
    50% {
        transform: rotateY(180deg) scale(1.1);
    }
    100% {
        transform: rotateY(360deg) scale(1);
    }
}

@keyframes animateTitleLine {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(88px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes blurText {
    from {
        filter: blur(0px);
    }
    to {
        filter: blur(4px);
    }
}